warp-lang @ https://github.com/NVIDIA/warp/releases/download/v1.7.0/warp_lang-1.7.0+cu11-py3-none-manylinux2014_aarch64.whl
trimesh
wandb
anthropic
openai
google-generativeai
replicate
aiofiles
python-dotenv
tenacity